@mixin screen_tiny {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen_tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen_desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

body.light {
  --background-main: linear-gradient(-39deg, #797979, #dfdfdf);
  --background-root: #ffffff;
  --color: #000000;
  --color-reverse: #ffffff;
  --color-validation: #048715;
}

body.dark {
  --background-main: linear-gradient(
    -39deg,
    #36225e 25%,
    rgba(0, 0, 0, 1) 56% 100%
  );
  --background-root: #302f2f;
  --color: #ffffff;
  --color-reverse: #000000;
  --color-validation: #23dc3d;
}

body.blue {
  --background-main: linear-gradient(-39deg, #0c141a, #073c69);
  --background-root: #565555;
  --color: #ffffff;
  --color-reverse: #000000;
  --color-validation: #00ff24;
}
body {
  background: var(--background-root);
  color: var(--color);
}

span {
  color: var(--color);
}

.main {
  background: var(--background-main);
  color: var(--color);
  height: 96vh;
  display: flex;
  margin: 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  &__earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include screen_tablet {
      width: 384px;
      height: 384px;
    }
    @include screen_mobile {
      width: 272px;
      height: 272px;
    }
    @include screen_tiny {
      width: 208px;
      height: 208px;
    }
  }

  &__header {
    width: 100%;
    padding: 16px;
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      @include screen_mobile {
        padding: 0 8px;
      }
      & h1 {
        @include screen_mobile {
          font-size: 20px;
        }
        @include screen_tiny {
          font-size: 18px;
        }
      }
      & h2 {
        @include screen_mobile {
          font-size: 14px;
        }
        @include screen_tiny {
          font-size: 12px;
        }
      }
    }
  }
  &__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    .nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 16px;
      width: 100%;
      @include screen_tiny {
        margin-bottom: 0;
      }
      .popUp {
        &__content {
          position: absolute;
          right: 28px;
          bottom: 50%;
          transform: translate(-5%, 35%);
          z-index: 2;
          @include screen_mobile {
            right: 50%;
            transform: translate(50%, 50%);
          }
          @include screen_tiny {
            width: 100%;
            height: 100%;
            justify-content: center;
          }
        }
        &__content form {
          display: flex;
          flex-direction: column;
        }
        .info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
  &__bottom {
    width: 100%;
    padding: 0 16px 16px 16px;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 0 16px 0 32px;
      @include screen_mobile {
        padding: 0px 8px 0 32px;
      }
    }
  }
}

button:hover {
  opacity: 0.6;
}
