@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen_tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen_desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

body.light {
  --background-main: linear-gradient(-39deg, #797979, #dfdfdf);
  --background-root: #ffffff;
  --color: #000000;
}

body.dark {
  --background-main: linear-gradient(
    -39deg,
    #36225e 25%,
    rgba(0, 0, 0, 1) 56% 100%
  );
  --background-root: #302f2f;
  --color: #ffffff;
}

body.blue {
  --background-main: linear-gradient(-39deg, #0c141a, #073c69);
  --background-root: #565555;
  --color: #ffffff;
}
body {
  background: var(--background-root);
  color: var(--color);
}

.main {
  background: var(--background-main);
  color: var(--color);
  height: 92vh;
  display: flex;
  margin: 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  padding: 16px;
  &__earth {
    position: absolute;
    top: 25%;
    @include screen_tablet {
      width: 450px;
      height: 450px;
    }
    @include screen_mobile {
      width: 400px;
      height: 400px;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .settings {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

button:hover {
  opacity: 0.8;
}
