@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen_tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen_desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

body.light {
  --background-main: linear-gradient(-39deg, #797979, #dfdfdf);
  --background-root: #ffffff;
  --color: #000000;
}

body.dark {
  --background-main: linear-gradient(
    -39deg,
    #36225e 25%,
    rgba(0, 0, 0, 1) 56% 100%
  );
  --background-root: #302f2f;
  --color: #ffffff;
}

body.blue {
  --background-main: linear-gradient(-39deg, #0c141a, #073c69);
  --background-root: #565555;
  --color: #ffffff;
}
body {
  background: var(--background-root);
  color: var(--color);
}

span {
  color: var(--color);
}

.main {
  background: var(--background-main);
  color: var(--color);
  height: 96vh;
  display: flex;
  margin: 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  &__earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include screen_tablet {
      width: 380px;
      height: 380px;
    }
    @include screen_mobile {
      width: 270px;
      height: 270px;
    }
  }

  &__header {
    width: 100%;
    padding: 16px;
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 16px;
    }
  }
  &__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    .nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 16px;
      width: 100%;
      @include screen_mobile {
        margin-bottom: -90px;
        z-index: 1;
      }
      @media screen and (max-width: 500px) {
        margin-bottom: -20px;
      }
      .popUp {
        &__content {
          position: absolute;
          right: 28px;
          bottom: 50%;
          transform: translate(-5%, 35%);
        }
        &__content form {
          display: flex;
          flex-direction: column;
        }
        .info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
  &__bottom {
    width: 100%;
    padding: 0 16px 16px 16px;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 0 16px;
    }
  }
}

button:hover {
  opacity: 0.6;
}
