@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen_tiny {
  @media screen and (max-width: 500px) {
    @content;
  }
}

$bg-color1: var(--background-root);
$bg-color2: #a4a4a4;
$bg-color3: var(--color);
$transition-duration: 1s;

$width-dropdown: 300px;
$width-close: -340px;
$width-open: 340px;
.collapse-articles {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
  }
  &__button {
    width: 26px;
    border: none;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    writing-mode: vertical-lr;
    transition: margin-left $transition-duration;
    font-family: var(--title-font);
    font-size: 16px;
    padding: 16px 0;
    @include screen_tiny {
      font-size: 14px;
      padding: 14px 0;
    }
    &.active {
      margin-left: $width-open;
    }
    &__1 {
      background-color: $bg-color1;
      color: var(--color);
    }
    &__2 {
      background-color: $bg-color2;
      color: #000;
    }
    &__3 {
      background-color: $bg-color3;
      color: var(--color-reverse);
    }
    &__title {
      visibility: hidden;
      width: 300px;
      display: block;
      text-align: left;
      margin-left: 30px;
    }
  }
  &__dropdown {
    position: absolute;
    width: $width-dropdown;
    height: 100%;
    left: $width-close;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: left $transition-duration;
    z-index: 2;
    gap: 8px;
    &.open {
      left: 0;
      @media screen and (max-width: 412px) {
        width: 82vw;
      }
    }
    &__header {
      display: flex;
    }
    &__closeBtn {
      border: none;
      width: 30px;
      height: 30px;
      background-color: transparent;
      cursor: pointer;
      display: none;
      @include screen_mobile {
        display: block;
      }
      & i {
        font-size: 18px;
        color: var(--color);
      }
    }
    &__1 {
      background-color: $bg-color1;
      .card__caption__title {
        color: var(--color);
        font-family: var(--title-font);
        font-size: 16px;
      }
      & i {
        color: var(--color);
      }
    }
    &__2 {
      background-color: $bg-color2;
      color: #000;
      & i {
        color: #000;
      }
    }
    &__3 {
      background-color: $bg-color3;
      color: $bg-color1;

      .card__caption__title {
        color: $bg-color1;
      }
      & i {
        color: var(--color-reverse);
      }
    }
    &__title {
      font-family: var(--title-font);
      font-size: 20px;
    }
  }
}

.separator {
  width: 100px;
  border: 1.5px solid #ff0000;
}

.modal-open {
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0;
}
