@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin screen_tiny {
  @media screen and (max-width: 400px) {
    @content;
  }
}

.slider {
  display: flex;
  width: 304px;
  height: 160px;
  position: relative;
  border: 1px solid #ffff;
  border-radius: 8px;
  @include screen_mobile {
    width: 232px;
    height: 136px;
  }
  @include screen_tiny {
    width: 160px;
    height: 104px;
  }
  &__button {
    position: absolute;
    border: none;
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include screen_tiny {
      width: 25px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .prev {
    left: 0;
    border-radius: 8px 0 0 8px;
  }
  .next {
    right: 0;
    border-radius: 0 8px 8px 0;
  }
  .arrow-svg {
    width: 25px;
    height: 25px;
  }
  .pause {
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    color: #ffff;
    &:hover .play-pause {
      display: block;
    }
  }
  .play-pause {
    display: none;
    position: absolute;
    right: -84px;
    font-family: var(--title-font);
    font-size: 16px;
    min-width: 80px;
    text-align: left;
  }
  &__content {
    overflow: hidden;
    width: 100%;
    position: relative;
    &__slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }
}
.hide {
  opacity: 0;
  transform: scale(0.95);
}
.display {
  opacity: 1;
}
